.logo-title{
    padding-top: 13px;
}

.header-logo-title{
    color: rgb(75, 74, 74) !important;
}

.menu-header{
    text-align: right;
    border: 0px solid !important;
    background: #d6e4ff;
    height: 40px;
    border: 0px solid transparent !important;
}

.sub-menu-header:hover{
    color: #40a9ff !important;
    border: 0px solid transparent !important;
}

.sub-menu-item-header:hover{
    color: #40a9ff !important;
    border: 0px solid transparent !important;
}

.ant-menu-submenu{
    border: 0px solid transparent !important;
}