.registerOptions-title{
    text-align: center;
    font-weight: 500 !important;
    padding-top: 50px;
}

.registerOptions-first-button-options{
    text-align: center;
    padding-top: 40px;
}

.registerOptions-second-button-options{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 90px;
}

.registerOptions-line-div{
    border-bottom: 1px solid #d9d9d9;
    padding-top: 30px;
}