.footer-list-no-border, footer-list-no-border:link, footer-list-no-border:visited, footer-list-no-border:hover, footer-list-no-border:active{
    border: 0px transparent !important;
    max-height: 30px;
    color: #595959;
    text-decoration: none;
}

.footer-list-link, footer-list-link:link, footer-list-link:visited, footer-list-link:hover, footer-list-link:active{
    border: 0px transparent !important;
    max-height: 30px;
    color: #595959;
    text-decoration: none;
}

.ant-list-header{
    border: 0px transparent !important;
    color: #595959;
}

.footer-main-page-social-icon{
    font-size: 1.5rem;
    color: #595959;
    padding-right: 5px;
}

.footer-main-page-copyright{
    text-align: center;
    color: #595959;
    padding-top: 40px;
}