.content-user-page{
    padding-top: 20px;
    min-width: 600px !important;
    padding-bottom: 50px;
}

.header-user-page{
    background: #d6e4ff;
    height: 60px !important;
}

.user-settings-sidebar{
    background: #b7e3fa !important;
}

.footer-user-page{
    background: #d6e4ff;
}