.blue-1{
    background-color: #2f54eb;
    color: #FFF;
}

.blue-2{
    background-color: #adc6ff;
    color: #FFF;
}

.blue-3{
    background-color: #d6e4ff;
}

.black{
    background-color: #000000;
    color: #FFF;
}

.gray-1{
    background-color: #595959;
    color: #FFF;
}

.gray-2{
    background-color: #f5f5f5;
}