.helpCenter-title-row{
    padding-top: 50px;
    padding-bottom: 50px;
}

.helpCenter-title{
    text-align: left;
    font-weight: 500 !important;
}

.helpCenter-text-row{
    padding-bottom: 80px;
}

.helpCenter-text{
    text-align: left;
}