.settings-breadcrumb{
    padding-bottom: 20px;
}

.space-align{
    display: flex;
    align-item: flex-start;
    flex-wrap: wrap;
}

.firstName-input{
    border: 0px !important;
    background-color: #FFF !important;
}

.ant-descriptions-item-label{
    font-weight: 700 !important;
    width: 90px !important;
}

.col-editInfo{
    padding-bottom: 20px;
}

.button-editInfo{
    margin-top: 10px;
}